.container {
    animation: fadeIn 3.5s;
  -webkit-animation: fadeIn 3.5s;
  -moz-animation: fadeIn 3.5s;
  -o-animation: fadeIn 3.5s;
  -ms-animation: fadeIn 3.5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.form-btn {
    background-color: #98c1d9a1;
    color: #000;
    font-size: 1.3em;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    border-radius: 3em;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    transition: all 0.3s ease-in-out;
    opacity: 75%;
}

.form-btn:hover {
    background-color: #98c1d9;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.form-label {
    font-size: 1.6em;
    font-weight: 500;
    color: #B3EFB2;
    font-family: 'Nunito', sans-serif;
}

.container {
    color: #c8e7f9;
    font-family: 'Nunito', sans-serif;
}

.container h1 {
    font-size: 2.4em;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

.error {
    color: #ff0000;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

.color-div {
    background-color: #b3efb214;
    position: relative;
    border-radius: 20em;
    width: 90%;
    height: 30%;
    margin-top: 1em;
    margin-left: 60px;
    margin-right: 200px;
    padding-left: 160px;
    padding-top: 80px;
}

@media screen and (max-width: 1024px) {
    .container .mt-5 {
        margin-left: 0;
        margin-right: 0;
        margin-top: 5rem !important;
        padding: 0;
    }

    .color-div {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .container .mt-5 {
        margin-left: 0;
        margin-right: 0;
        padding-top: 10em;
    }

    .color-div {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        padding: 0;
    }
    
    .outer {
        margin-top: 11em;
    }
}