.home-container {
  animation: fadeIn 2.625s;
  -webkit-animation: fadeIn 2.625s;
  -moz-animation: fadeIn 2.625s;
  -o-animation: fadeIn 2.625s;
  -ms-animation: fadeIn 2.625s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0D5C63;
}

.name-h1 {
  font-size: 3.75em;
  font-weight: 600;
  margin-top: 75px;
  margin-right: 150px;
  font-family: 'Nunito', sans-serif;
  color: #c8e7f9;
}

.name {
  font-size: 1.2em;
  font-weight: 800;
  margin-right: 150px;
  font-family: 'Nunito', sans-serif;
  color: #93d8ff;
}

.scroller {
  font-size: 2.25em;
  font-weight: 100;
  font-family: 'Nunito', sans-serif;
  text-overflow: ellipsis;
  color: #B3EFB2;
}

.carousel-container {
    display: flex;
    flex-direction: row;
    width: 20em;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

.name-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.text-container {
    background-color: #b3efb214;
    border-radius: 30em;
    width: 60%;
    height: 60%;
    position: relative;
    margin-top: 100px;
    margin-left: 300px;
    padding-right: 20em;
}

.subheader {
    margin-top: 6em;
    background-color: #b3efb21c;
    border-radius: 30em;
    position: fixed;
    width: 40%;
    height: 100px;
    margin-left: 600px;
    padding-left: 10em;
    padding-bottom: 2em;
}

.subheader-text {
    font-size: 2em;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    color: #c8e7f9;
}

.questions {
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    color: #c8e7f9;
}

.contact {
    font-size: 1.6em;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: #B3EFB2;
    margin-left: 1.5em;
}

.contact:hover {
    color: #140D4F;
    cursor: pointer;
}

@media screen and (max-width: 1440px) {
    .name-h1 {
        font-size: 3em;
        margin-top: 75px;
        margin-right: 150px;
    }

    .name {
        font-size: 1em;
        margin-right: 150px;
    }

    .scroller {
        font-size: 1.5em;
    }

    .logo {
        width: 75px;
        height: 75px;
        margin-left: 50px;
    }

    .name-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;
    }

    .text-container {
        background-color: #b3efb214;
        border-radius: 30em;
        width: 60%;
        height: 60%;
        position: relative;
        margin-top: 100px;
        margin-left: 300px;
        padding-right: 20em;
    }

    .subheader {
        margin-top: 6em;
        background-color: #b3efb21c;
        border-radius: 30em;
        position: fixed;
        width: 40%;
        height: 100px;
        margin-left: 600px;
        padding-left: 10em;
        padding-bottom: 2em;
    }

    .subheader-text {
        font-size: 1.5em;
    }

    .questions {
        font-size: 1em;
    }

    .contact {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1024px) {
    .name-h1 {
        font-size: 2.5em;
        margin-top: 75px;
        margin-left: 150px;
    }

    .name {
        font-size: 1em;
        margin-right: 150px;
    }

    .scroller {
        font-size: 1.5em;
    }

    .logo {
        width: 75px;
        height: 75px;
        margin-left: 50px;
    }

    .name-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;
    }

    .text-container {
        background-color: #b3efb214;
        border-radius: 30em;
        width: 60%;
        height: 60%;
        position: relative;
        margin-top: 100px;
        margin-left: 300px;
        padding-right: 20em;
    }

    .subheader {
        margin: 0;
        margin-top: 4em;
        background-color: #b3efb21c;
        border-radius: 30em;
        position: fixed;
        width: 50%;
        height: 100px;
        padding-bottom: 2em;
    }

    .subheader-text {
        font-size: 1.5em;
    }

    .questions {
        font-size: 1em;
    }

    .contact {
        font-size: 1.2em;
    }
}

@media (max-width: 768px) {
    .name-h1 {
        font-size: 2em;
        margin-top: 75px;
        margin-left: 150px;
    }

    .name {
        font-size: 1em;
        margin-right: 150px;
    }

    .scroller {
        font-size: 1.5em;
    }

    .logo {
        width: 75px;
        height: 75px;
        margin-left: 50px;
    }

    .name-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;
    }

    .text-container {
        background-color: #b3efb214;
        border-radius: 30em;
        width: 60%;
        height: 60%;
        margin: 8em 0 0 25em;
        position: relative;
        padding-right: 20em;
    }

    .subheader {
        margin: 0;
        margin-top: 4em;
        background-color: #b3efb21c;
        border-radius: 30em;
        position: fixed;
        width: 50%;
        height: 100px;
        padding-bottom: 2em;
    }

    .subheader-text {
        font-size: 1.5em;
    }

    .questions {
        font-size: 1em;
    }

    .contact {
        font-size: 1.2em;
    }
}

@media (max-width: 425px) {
    .name-container {
        margin-right: 29em;
    }

    .carousel-container {
        margin-left: 0;
        margin-right: 12em;
        margin-top: 5em;
    }
    .name-h1 {
        font-size: 1.9em;
        margin-top: 75px;
    }

    .name {
        font-size: 2em;
        margin-right: 150px;
    }

    .scroller {
        font-size: 2em;
        margin-right: 20em;
        padding-right: 20em;
    }

    .logo {
       display: none;
    }

    .name-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;
    }

    .text-container {
        background-color: #b3efb214;
        border-radius: 30em;
        width: 60%;
        height: 60%;
        margin: 8em 0 0 25em;
        position: relative;
        padding-right: 20em;
    }

    .subheader {
display: none;
    }

    .subheader-text {
        font-size: 1.5em;
    }

    .questions {
        font-size: 1em;
    }

    .contact {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 320px) {
    .carousel-container {
        margin-left: 0;
        margin-right: 20em;
        margin-top: 5em;
    }
}