.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #0D5C63;
    
}

.name-h1 {
    font-size: 6em;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 1000px;
    font-family: 'Nunito', sans-serif;
    color: #98C1D9;
}

.scroller {
    font-size: 4em;
    font-weight: 400;
    margin-left: 200px;
    font-family: 'Nunito', sans-serif;
    color: #B3EFB2;
}

.carousel-container {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

.name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: #0D5C63;
}