.nav-button {
    background-color: rgb(14, 64, 52);
    color: #ffffff;
    padding: 2px;
    margin: 5px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 60px;
    line-height: 50px;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.nav-button:hover {
    background-color: rgb(14, 64, 52);
    color: #ffffff;
    padding: 2px;
    margin: 5px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 60px;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    background-color: rgb(14, 64, 52);
  }