.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-left: 30%;
    border-radius: 20em;
    background-color: #0d5c6310;
  }

.button-48 {
  appearance: none;
  background-color: #0d5c6309;
  border-width: 0;
  border-radius: 30px;
  box-sizing: border-box;
  color: #140D4F;
  cursor: pointer;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  font-size: 1.8em;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.2em 1.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #c8e7f9;
  border-radius: 15em;
  color: #161515;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #161515;
  color: whitesmoke;
}

.button-48 span {
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 1440px) {
  .nav-container {
    width: 50%;
    margin-left: 25%;
  }
  .button-48 {
    font-size: 1.6em;
  }
}

@media (max-width: 768px) {
  .nav-container {
    width: 40%;
    height: 30%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .button-48 {
    width: 100%;
    margin: 0;
    padding: 1em 1.4em;
    font-size: 1em;
  }
}

@media screen and (max-width: 1024px) {
  .nav-container {
    width: 40%;
    margin-left: 10%;
  }
  .button-48 {
    font-size: 1.5em;
  }
}